body {
    margin: 0;
    padding: 0;
    background: #D8B4AE;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.card {
    background: white;
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 35px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #8B1E1E;
    margin: 10px 0 5px;
}

.founder {
    font-size: 18px;
    color: #444;
    margin: 5px 0 0;
}

.designation {
    font-size: 14px;
    color: #8B1E1E;
    margin-bottom: 20px;
}

.divider {
    height: 2px;
    width: 50px;
    background: #8B1E1E;
    margin: 20px auto;
}

.contact a {
    display: block;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #8B1E1E;
    color: #8B1E1E;
    font-weight: 500;
    transition: 0.3s;
}

.contact a:hover {
    background: #8B1E1E;
    color: white;
}

.save-btn {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 15px auto;
    padding: 12px;
    border-radius: 8px;
    align-self: center;
    color: black;
}

.save-btn:hover {
    background: #5E1414;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
@media (max-width: 480px) {

    .card {
        padding: 25px;
        border-radius: 20px;
    }

    h1 {
        font-size: 22px;
    }

    .founder {
        font-size: 16px;
    }

    .contact a {
        padding: 12px;
        font-size: 20px;
    }

    .save-btn {
        width: 100%;
        font-size: 14px;
    }

}
